body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fbfcfd;
}

.wrapper{
  display: flex;
  flex-direction: column;
}
.info-msg {
  margin: 10px 0;
  padding: 20px;
  border-radius: 3px 3px 3px 3px;
  position: fixed;
  top: 30%;
  left: 50%;
  width: 30%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  color: #059;
  font-weight: 600;
  background-color: #bef;
  text-align: center;
  font-size: 22px;
}
.info-msg > i {
  margin-right: 10px;
}
/* error message */
.error {
  width: 80%;
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  margin: 10px auto;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.danger {
  border-left-color: #d9534f; /* Left side border color */
  background-color: rgba(
    217,
    83,
    79,
    0.1
  ); /*Same color as the left border with reduced alpha to 0.1*/
}

.danger strong {
  color: #d9534f;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.paginationItem {
  background: #fff;
  border: 2px solid #666;
  padding: 10px 15px;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  position: relative;
  margin: 0 5px;
  cursor: pointer;
}

.paginationItem span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.prev,
.next {
  background: #fff;
  border: none;
  padding: 10px;
  color: blue;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  margin: 0 10px;
  cursor: pointer;
}

.paginationItem.active {
  border: 1px solid #888;
  color: #888;
  pointer-events: none;
}

.prev.disabled,
.next.disabled {
  pointer-events: none;
  box-shadow: none;
  color: #999;
}

.post,
.tree-list .tree {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
.tree-list .tree {
  margin-left: 6rem;
}
.tree-list .tree .child-2 {
  margin: 10px;
  padding: 10px;
}
.tree-list .tree:nth-child(2n + 1) {
  background: #fbfcfd;
}
.post .child {
  margin: 10px;
  padding: 10px;
}
.post .child .num {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  margin-right: 6px;
}
.post .child button {
  background: none;
  border: none;
  font-size: 20px;
}
.post .child h2 {
  display: inline-block;
}
.post .child a {
  margin: 10px;
}
/* === BASE HEADING === */

h1 {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: #080808;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

h1 span {
  display: block;
  font-size: 0.5em;
  line-height: 1.3;
}
h1 em {
  font-style: normal;
  font-weight: 600;
}
.e h1 {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 160px;
  text-align: center;
  margin: auto;
  white-space: nowrap;
  padding-bottom: 13px;
  margin-top: 15px;
}
.e h1:before {
  background-color: #c50000;
  content: "";
  display: block;
  height: 3px;
  width: 75px;
  margin-bottom: 5px;
}
.e h1:after {
  background-color: #c50000;
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 3px;
  width: 75px;
  margin-bottom: 0.25em;
}

/* Custom Select */
.select {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.select select {
  align-items: center;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
  background-color: #415368;
  color: #fbfcfd;
  margin-top: 10px;
  margin-bottom: 20px;
}
.select label {
  align-self: center;
  margin-top: 10px;
  margin-bottom: 4px;
  font-size: 18px;
  justify-content: center;
  font-weight: 600;
  margin-right: 20px;
}
